.header-bottom__subtitle {
  font-size: 28px;
  line-height: 34.13px;
  font-weight: 500;
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  ;
  color: #FFFFFF;
  padding: 0;
  margin: 35px 0 0 0;
}