.info-lifestyle__btn-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  transform: skewX(-155deg);
  display: inline-block;
}