.header-bottom__btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  ;
  color: #FFFFFF;
  padding: 0;
  margin: 55px 0 0 0;
  border: none;
  width: 280px;
  height: 60px;
  background-color: transparent;
  background-image: url(../../../images/btn-get-cons.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}