.header-top__nav-link {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 600;
  font-family: 'Montserrat',
    Arial,
    sans-serif;;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0;

  &:hover {
    color: #F7931E;
  }
}