.header-bottom__title {
  font-size: 64px;
  line-height: 68px;
  font-weight: 700;
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  ;
  color: #FFFFFF;
  padding: 0;
  margin: 235px 0 0 0; 
}